.resume-container{
    padding-top: 50px;
    font-family: 'Poppins', sans-serif;
}

.resume-header{
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
}
.resume-header h3{
    font-size: 40px;
    font-weight: 800;
}
.resume-header p{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 5px;
}

.header-underline{
    height: 3px;
    width: 200px;
    background-color: rgb(102, 13, 13);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-underline1{
    height: 9px;
    width: 40px;
    background-color: rgb(255, 7, 7);
    position: absolute;
    border-radius: 5px;
}

.resumeDetails{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resumeCard{
    height: 600px;
    width: 80%;
    /* border: 1px solid black; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    display: flex;
    /* justify-content: center; */
}